@use 'variables';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  font-size: 14px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: $second-light;
  color: $dark;
}

input,
button {
  background-color: unset;
  border: none;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.pagination-container {
  display: flex;
  column-gap: 10px;
}
.paginate-buttons {
  cursor: pointer;
  color: $dark;
  font-size: 18px;
  font-weight: bold;
}
.paginate-buttons:hover {
  opacity: 0.7;
}
.active-page {
  color: $main;
}
